[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "vim/bundle/vim-quicktask"]
	path = vim/bundle/vim-quicktask
	url = https://github.com/aaronbieber/vim-quicktask.git
